<div class="d-flex flex-row justify-content-evenly mt-5 container-fluid w-100 flex-wrap">
    <app-spinner *ngIf="loading" class="w-100 h-100 d-flex position-absolute top-0" [loading]="loading"></app-spinner>
    <div class="z-0 d-flex flex-column w-75 h-75 add-project-container glass-effect p-3">
        <form [formGroup] = "addProjectForm" class="d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center w-50">
                <div class="d-flex flex-row justify-content-between mt-5">
                    <label for="projectName">Project Name :</label>
                    <input type="text" id="projectName" formControlName="projectName" />
                </div>
                <div class="d-flex flex-row justify-content-between mt-5">
                    <label for="projectDescription">Project Description :</label>
                    <input type="text" id="projectDescription" formControlName="projectDescription" />
                </div>
                <div class="d-flex flex-row justify-content-between mt-5">
                    <label for="projectGitLink">project Git Link :</label>
                    <input type="text" id="projectGitLink" formControlName="projectGitLink" />
                </div>
            </div>
            <button class="mt-4" [disabled]="this.addProjectForm.invalid" (click)="onAddProjectClick()" type="submit">Add Project</button>
        </form>
    </div>
</div>
