<nav class="d-flex justify-content-between m-2">
    <div class="m-3">
        <a class="nav-link" routerLink="/">
            Logo
        </a>
    </div>
    <div class="d-flex flex-row m-3 justify-content-center w-75">
        <div class="me-3">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-nav-link">
                Home
            </a>
        </div>
        <div>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active-nav-link">
                Projects
            </a>
        </div>
    </div>
    <div class="m-3">
        <a class="nav-link" routerLink="/login" routerLinkActive="active-nav-link">
            Login
        </a>
    </div>
</nav>
