.active-nav-link {
    background-color: rgba(241, 230, 22, 0.799) !important;
    color: aliceblue;
    border: 2px solid rgb(41, 49, 58) !important;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    width: 6rem;
    padding: 6px;
}

.nav-container {
    width: 99%;
}

@media (max-width: 450px){
    .nav-middle-section {
        width: 20% !important;
    }
}
