.app-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/pexels-codioful-\(formerly-gradienta\)-6985045.jpg");
}