.home-header {
    height: 50%;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 3px 4px rgba(16, 7, 7, 0.779);
    width: 100%;
    scale: 0.7;
    overflow-x: hidden;
    flex-direction: column;
    opacity: 0.2;
    animation: headerBackground ease-in 2s forwards;
    
}

.header-text {
    left: 902px;
    animation: headerText ease-in 3s forwards;
    position: relative;
    opacity: 0.4;
    
}


.skills-scroll {
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    margin: 2rem;
    justify-content: center;
}

.skills-scroll > * {
    position: relative;
    right: 70rem;
    margin-inline: 2rem;
    animation: skillScroll ease-in 3s forwards;
}

@keyframes skillScroll {
    to {
        transform: translateX(70rem);
    }
}

@keyframes headerText {
    to {
        opacity: 1;
        transform: translateX(-854px);
    }
}

@media (max-width: 450px){
    h2 {
        font-size: calc(1.325rem + .1vw);
    }
    .skills-scroll {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: fit-content;
    }
    .skills-scroll > * {
        border-radius: 6px;
        margin: 10px;
    }
}

.skill-span {
    margin-top: 3rem;
}

@keyframes headerBackground {
    to {
        scale: 1;
        opacity: 1;
    }
}